* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-size: 1.1rem;
}

nav {
    border-bottom: 1px solid white;
}

nav ul {
    margin: 1rem 0;
    padding: 0;
}

nav li {
    display: inline-block;
    font-size: 1.2rem;
}

nav li:not(:first-child)::before {
    content: " | ";
}

input {
    background-color: black;
    color: white;
    font-size: 1.1rem;
    border: 1px solid white;
    padding: 0.4rem 0.8rem;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    display: block;
}

form > div {
    margin: 1rem 0;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.content {
    margin: 0 auto;
    max-width: 800px;
}
